header {
    position:fixed;
    width:100%;
    padding: 0.5%;
    margin: 0;
    color: aliceblue;
    font-size: 32px;
    background-image: url('../images/title.png');
    background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
}
    header li {
        display: inline;
        margin: 4vw;
        
    }
        header li:hover {
            text-decoration:underline;
            <background-color:black;>
        }
    header ul {
        text-decoration:none;
        position:fixed;
        right: 5vw;
        top: 20px;
        line-height: 1vw;
    }
        header ul a {
            text-decoration:none;
            color:snow;
        }
main {
    position:absolute;
    top:8%;
}